h1 {
  font-family: libre baskerville, serif;
  color: white;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 150%;
}

#motivational-picture {
  border: 5px solid white;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: black;
}

div {
  margin: 50px;
}

#small-text {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 85%;
}
